services:
 backend:
  build: ./backend
  container_name: backend
  ports:
    - "5000:5000"
  volumes:
    - ./backend/uploads:/app/uploads   # <- mount host folder to container
  restart: always

  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=http://138.197.202.120:5000
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  admin:
    build:
      context: ./admin
      args:
        - REACT_APP_API_URL=http://138.197.202.120:5000
    container_name: admin
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always
