version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"  
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=http://138.197.202.120:5000
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_started

  admin:
    build:
      context: ./admin
      args:
        - REACT_APP_API_URL=http://138.197.202.120:5000/api
    container_name: admin
    ports:
      - "3001:80"
    depends_on:
      backend:
        condition: service_started
