# Dependencies
node_modules

# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log
yarn-error.log
pm2.log
*.log

# Uploads (only ignore if using Cloudinary)
uploads

# Git & system files
.git
.gitignore
.DS_Store

# Editor configs
.vscode
.idea
